# Exercise 1 and 2

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import dask
import dask.dataframe as dd
from dask.delayed import delayed

In [553]:
%time df = pd.read_excel("Airline Flights Data.xls")
df.head(6)

Wall time: 5.7 s

,YEAR,Airline code,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE
0,2018,AA,LAX,"Los Angeles, CA",HNL,"Honolulu, HI",2001.0,-10.0,2357.0,-32.0,0,334.0,2556
1,2018,AA,LAX,"Los Angeles, CA",HNL,"Honolulu, HI",2003.0,-8.0,5.0,-24.0,0,341.0,2556
2,2018,AA,LAX,"Los Angeles, CA",HNL,"Honolulu, HI",2003.0,-8.0,17.0,-12.0,0,347.0,2556
3,2018,AA,LAX,"Los Angeles, CA",HNL,"Honolulu, HI",2011.0,0.0,6.0,-23.0,0,318.0,2556
4,2018,AA,LAX,"Los Angeles, CA",HNL,"Honolulu, HI",2122.0,71.0,128.0,59.0,0,337.0,2556
5,2018,AA,LAX,"Los Angeles, CA",HNL,"Honolulu, HI",2007.0,-4.0,2359.0,-30.0,0,332.0,2556

Reading a dataset with pyspark if the storage and compute power is an issue. However, in this notebook, we will work solely with pandas as the amount of data is small enough to handle it within a single machine

In [124]:
#pdf = pd.read_excel('Airline Flights Data.xls')
#sparkDF = sqlContext.createDataFrame(pdf)
#df = sparkDF.rdd.map(list)
#type(df)

Wall time: 10min 15s

Dask library can be used for parallel computing of larger datasets. It helps to utilize every core/threads of CPU(s) in parallel which significantly improves performance

In [107]:
excel_file= "Airline Flights Data.xls"
parts = dask.delayed(pd.read_excel)(excel_file)
%time df_dask = dd.from_delayed(parts)
df_dask.head()

Wall time: 5.26 s

,YEAR,Airline code,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE
0,2018,AA,LAX,"Los Angeles, CA",HNL,"Honolulu, HI",2001.0,-10.0,2357.0,-32.0,0,334.0,2556
1,2018,AA,LAX,"Los Angeles, CA",HNL,"Honolulu, HI",2003.0,-8.0,5.0,-24.0,0,341.0,2556
2,2018,AA,LAX,"Los Angeles, CA",HNL,"Honolulu, HI",2003.0,-8.0,17.0,-12.0,0,347.0,2556
3,2018,AA,LAX,"Los Angeles, CA",HNL,"Honolulu, HI",2011.0,0.0,6.0,-23.0,0,318.0,2556
4,2018,AA,LAX,"Los Angeles, CA",HNL,"Honolulu, HI",2122.0,71.0,128.0,59.0,0,337.0,2556

But within this task I will only work with python pandas libary. In order to do benchmarking, we will add more airlines by concatenating to our data. The data was obtained from Bureau of transportation statistics

In [554]:
url = 'New features/2018.xls'
df_new = pd.read_excel(url)

In [555]:
df_new.head()

,YEAR,OP_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE
0,2018,UA,ORD,"Chicago, IL",HNL,"Honolulu, HI",1030.0,20.0,1541.0,19.0,0,517.0,4244
1,2018,UA,ORD,"Chicago, IL",HNL,"Honolulu, HI",1037.0,27.0,1535.0,13.0,0,515.0,4244
2,2018,UA,ORD,"Chicago, IL",HNL,"Honolulu, HI",1028.0,18.0,1515.0,-7.0,0,511.0,4244
3,2018,UA,ORD,"Chicago, IL",HNL,"Honolulu, HI",1013.0,3.0,1544.0,22.0,0,535.0,4244
4,2018,UA,ORD,"Chicago, IL",HNL,"Honolulu, HI",1129.0,79.0,1700.0,98.0,0,525.0,4244

In [556]:
df_2 = df_new[df_new['OP_CARRIER'].isin(['UA','US'])]
df_2 = df_2.rename(columns={'OP_CARRIER':'Airline code'})

In [557]:
df_main = pd.concat([df,df_2])

This function was developed to add additional timestamp as dummy variables, but it is now not used further in the notebook.

In [ ]:
"""import random
import time

def str_time_prop(start, end, format, prop):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formated in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """

    stime = time.mktime(time.strptime(start, format))
    etime = time.mktime(time.strptime(end, format))

    ptime = stime + prop * (etime - stime)

    return time.strftime(format, time.localtime(ptime))


def random_date(start, end, prop):
    return str_time_prop(start, end, '%d/%m/%Y %I:%M %p', prop)"""

The following code was written to link weather API as additional weather data, however, I could not finish it due to time limits. Now it only retrieves the dictionary of weather data for an assigned city in the API request

In [302]:
import urllib
import json
my_token = '34e510145b2746b8aaa3f5dc61e7aee9'
private_key = 'KyONrRuQSritZtb1gzqX4p15e1i4P9tPtVlHjeNxXY'

In [345]:
args = {
'start':'200808010000',
'end':'200808070000',
'obtimezone':'UTC',
'vars':'air_temp',
'stids':'KSEA',
'units':'temp|F',
'token':my_token
}
apiString = urllib.parse.urlencode(args)
url = "http://api.mesowest.net/v2/stations/timeseries"
fullUrl = '{}?{}'.format(url,apiString)
response = urllib.request.urlopen(fullUrl)
responseDict = json.loads(response.read())

#df_weather = pd.DataFrame(responseDict)

# some preprocessing

The following function changes the float object for arrival and departure time to time format

In [408]:
def format_heure(chaine):
    if pd.isnull(chaine):
        return np.nan
    else:
        if chaine == 2400: chaine = 0
        chaine = "{0:04d}".format(int(chaine))
        heure = datetime.time(int(chaine[0:2]), int(chaine[2:4]))
        return heure
    
df['ARR_TIME'] = df['ARR_TIME'].apply(format_heure)
df['DEP_TIME'] = df['DEP_TIME'].apply(format_heure)

In the next step I am importing Airlines codes table to get the airline names

In [558]:
df_codes = pd.read_excel('New features/Airlines_codes.xls')
df = df_main.merge(df_codes, how='left', left_on='Airline code', right_on='Airline Code')
df.drop('Airline Code', axis=1, inplace=True)

In [559]:
df.loc[df['Description']== 'USAir (1988 - 1997)','Description'] = 'UTAIR'

In [419]:
df.columns

Index(['YEAR', 'Airline code', 'ORIGIN', 'ORIGIN_CITY_NAME', 'DEST',
       'DEST_CITY_NAME', 'DEP_TIME', 'DEP_DELAY', 'ARR_TIME', 'ARR_DELAY',
       'CANCELLED', 'AIR_TIME', 'DISTANCE', 'Flight_date', 'Description'],
      dtype='object')

# Exercise 6

As I was told that ex.6 is not compulsory to finish, I decided to make further preprocessing steps of dataset for ML model. In the last steps I will give a basic idea about the most suitable ML model to the data and potential target variables. The dataset suits the regression models best as we have potential target variables in a continuous format: arrival time and arrival delay.

Moreover, we can filter the data in a way that we can try to predict the arrival delay and arrival time for a specific airlines among several destination airports or vice versa we can try to predict the estimated departure delay/arrival delay/arrival time for a specific city/airport. 

Moreover, classification model can be also applied to predict the probability of cancellation through variables like destination, distance, origin, airlines company. Also past weather data could be a valuable feature for this kind of model.

In [560]:
df_2 = df[['Airline code', 'ORIGIN', 'DEST', 'DEP_TIME', 'DEP_DELAY', 'ARR_TIME', 'ARR_DELAY', 'AIR_TIME']]

This a basic feature engineering job to demonstrate the possible transformation of variables. However in case of opting for To deal with missing values, we can just make a summary table for missing values. Replacing the missing values with mean/median or other kind of values is not the best approach so I decided to drop these samples

In [561]:
missing_df = df_2.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(df_2.shape[0]-missing_df['missing values'])/df_2.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

       variable  missing values  filling factor (%)
0     ARR_DELAY            2006           97.551210
1      AIR_TIME            2006           97.551210
2      ARR_TIME            1930           97.643985
3     DEP_DELAY            1860           97.729437
4      DEP_TIME            1859           97.730657
5  Airline code               0          100.000000
6        ORIGIN               0          100.000000
7          DEST               0          100.000000

In [534]:
df_2.dropna(inplace=True)

C:\Users\aaabd\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

The next step would be labelling and one hot encoding categorical variables. For demonstration purposes, only airline codes will be handled

In [546]:
X = df_2.loc[:,['Airline code', 'ORIGIN', 'DEST', 'DEP_TIME', 'DEP_DELAY', 'AIR_TIME']].values
X[1]

array(['AA', 'LAX', 'HNL', datetime.time(20, 3), -8.0, 341.0],
      dtype=object)

In [548]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
label_encoder_X = LabelEncoder()
X[:,0] = label_encoder_X.fit_transform(X[:,0])
onehotencoder = OneHotEncoder(categories='auto')
X_encoded = onehotencoder.fit_transform(X[:,[0]]).toarray()

array([0, 'LAX', 'HNL', ..., 0.0, 0.0, 1.0], dtype=object)

the next step would be train and test split of data using train_test_split class of sklearn.model_selection lib. We can assume that we are developing some kind of regression model to define arrival delay time based on departure time, departure delay, airlines, destination and city.

In [ ]:
y = df_2.loc[:,['ARR_DELAY']].values
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = (X, y,test_size=0.2, random_state=0)

Cross validation method is an alternative of train test split which tries to get use of every piece of data on a iterative basis and provide different accuracy measures. Moreover continuous variables that contain large numbers can be normalized or standardized using sklean.preprocessing lib.

When it comes to model itself, following methods are proposed: multilinear regression, polynomial regression, random forest regression, support vector regression, decision tree regression.

Training models is fairly easy and it is done in those basic steps:
1. Import the ML model class
2. Instantiate it and define its hyperparameters
3. Fit your train (X_test, y_test) dataset to the model
4. Predict your test train data using the model
5. Use accuracy metrics to define the models accuracy by using test data of target variable


For evaluation techniques R squared value and Mean Squared Error metrices are used. Also backward propagation method can be applied to retain only statistically significant features.